@mixin fontLib($fm1, $fm2, $sz, $w, $lh){
    font-family: $fm1, $fm2;   font-size: $sz;   font-weight: $w;   line-height: $lh;
};

@mixin imgPropy($imgTitle){
    background-image: url('../Images/'+$imgTitle+'.jpg');
    background-position: center;    background-repeat: no-repeat;    background-size: cover;
}


nav{ height: 86px;  transition: all 0.5s; padding: 22px 0;  z-index: 1000; align-items: center;
    .navbar-brand{font-size: 32px; margin: 0;  margin-right: 38.094px; padding: 0; line-height: 1; 
                  font-weight: 700; letter-spacing: 1px; }
    .navbar-toggler{ border: none;
        @media (min-width: 992px){ display: none!important; }
        span{width: 30px; height: 30px; margin: 0; padding: 0;} } 
    .navbar-collapse{ justify-content: flex-end;
        .navbar-nav{ height: 100%; padding-top: 19px;
            .nav-item{
                .nav-link{display: block; position: relative; color: #555555; 
                          padding: 8px 0 12px 25px; transition: 0.3s; font-size: 14px;
                          font-family: "Open Sans", sans-serif; text-decoration: none; &:hover{color: #3498db;}
                }
            }
            .nestedDrop{ position: relative; white-space: nowrap; float: left;
                a{ text-decoration: none;  &:hover{color: #3498db;} }
                .nav-link{ display: block; position: relative; color: #555555; transition: 0.3s;     
                           font-size: 14px; font-family: "Open Sans", sans-serif; height: 100%;     
                   &::after{content: "\ea99";  font-family: IcoFont; padding-left: 5px;}
                }
                
                .nestedDropMnP{ display: block; position: absolute;  top: calc(100% + 30px); 
                    right: 0; z-index: 99; opacity: 0; visibility: hidden; padding: 10px 0; background: #fff; box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25); 
                    border-radius: 5px; transition: ease all 0.3s; 
                    
                    li{ min-width: 180px;  height: 42px; clear: both;
                        a{ display: block; color: #555555; padding: 8px 0 12px 25px; 
                           transition: 0.3s; font-size: 14px; font-family: "Open Sans", sans-serif;
                           &:hover{color: #3498db;}
                           &::after{content: "";}
                        }
                        
                    }
                    .DeepNestedDrop{ position: relative;
                        a{ &::after{content: "\ea9d"; font-family: IcoFont; position: absolute;
                                    top: 8px; right: 15px;}}                            
                        .nestedDropMnCh{ display: block; position: absolute; 
                            top: calc(100% + -49px);  right: 0px;  opacity: 0; visibility: hidden; background: #fff; box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25); border-radius: 5px; transition: ease all 0.3s; padding: 0;
                            
                            li{ min-width: 180px; position: relative;
                                a{ &:hover{color: #3498db;} &::after{content: "";} }   }   }
                        .nstdDrpTglC{visibility: visible; opacity: 1;  right: 180px;}   
                    }
                }    
                .nstdDrpTglP{visibility: visible; opacity: 1;  top: calc(100% + 8px);}               
            }            
        }        
        .navbarBrandLink{  display: inline-block; float: left;  background: #3498db; color: #fff; 
                       border-radius: 50px; margin: 12px 0 0 30px; padding: 10px 25px; 
                       text-decoration: none; &:hover{ background-color: #57aae1; }    
        }
    }
}


.mobile-nav{ width: 95%;  position: fixed; top: 55px; right: 15px;  
             left: 15px;  overflow-y: auto; background: #fff;transition: ease-in-out 0.2s;     
             /*opacity: 0;  visibility: hidden;*/ display: none;
             border-radius: 10px; padding: 10px 0; z-index: 1000;   
    .navbar-nav{ width: 100%; color: white; padding: 25px 20px 10px; position: relative;
        
        .nav-item{
            .nav-link{ color: #555555; text-decoration: none;  &:hover{color: #3498db;} }
        }
        .nestedDrop{ 
            .nav-link{ position: relative; cursor: pointer;
                &::after{ position: absolute; right: 15px;
                    content: "\ea99";  font-family: IcoFont; padding-left: 5px;} }
            .mnp{display: none;
                li{ margin-bottom: 15px;
                    a{ color: #555555; text-decoration: none; cursor: pointer;
                       &:hover{color: #3498db;} }
                    &:nth-of-type(2){ position: relative;
                        a{ &::after{ position: absolute; right: 15px; content: "\ea99";  
                            font-family: IcoFont; padding-left: 5px;} }
                        ul{display: none;
                            margin-bottom: 15px;
                            li{ a{ &::after{content: "";} } }
                            li:first-of-type{margin-top: 10px;}
                        }
                    }
                    
                    
                }
            }
        }
                        .navbarLink{
                           background: #3498db; color: #fff; 
                           border-radius: 50px;  padding: 10px 25px; 
                           text-decoration: none; 
                           &:hover{ background-color: #57aae1; }
                        }                        
        
    }
    .icofont-close{ font-size: 30px;  cursor: pointer; position: fixed; top: 20px; right: 13px; }
}


.mobile-nav-overlay{ /*opacity: 0;*/  display: none;
    width: 100%; height: 100%; z-index: 999; background: rgba(9, 9, 9, 0.6);
    position: fixed; top: 0; left: 0; 
    
}


.header{
    .row{
        h2[class = "h1"]{ @include fontLib(Raleway, sans-serif, 48px, 700, 56px);  color: black;}
        h2{ @include fontLib(Raleway, sans-serif, 24px, 500, 1.2);  color: #484848;}
        a{  @include fontLib(Raleway, sans-serif, 16px, 500, 1.5); letter-spacing: 1px;
            color: #439fdd; background-color: white; border: 2px solid #439fdd; 
            padding: 12px 39px;   border-radius: 30px;    transition: all 0.5s ease-in-out; 
            margin: 45px 0px 80px;  text-decoration: none;  cursor: pointer;
            &:hover{color: white;  background-color: #439fdd;}
            }
        img{}                      
        @media (min-width: 768px) and (max-width: 991.98px){                 
            a{ float: right;   margin-right: 8%; margin-top: 0;}                     
            img{width: 50%;}
        }        
        @media (max-width: 767.98px){
            h2[class = "h1"]{ font-size: 28px;  line-height: 36px; }
            h2{ font-size: 18px; line-height: 24px; margin-bottom: 5px; }        
            img{width: 70%;}            
        }
    }
}


.clients{ background-color: #f3f9fd; padding: 24px 0px;
    .container{ max-width: 100%;        
        .row{
            div{display: flex;  justify-content: center;  align-items: center;}    
            img{width: 65px; height: 25px;  filter: grayscale(1);  transition: all 0.4s ease-in-out; 
                &:hover{filter: grayscale(0);} }
            @media (min-width: 768px) and (max-width: 991.98px){ div{width: (100% / 3);
                @for $i from 1 through 3{ &:nth-of-type(#{$i}){margin-bottom: 3%;} } } }
            @media (max-width: 767.98px){ div{width: (100% / 2);
                @for $i from 1 through 4{ &:nth-of-type(#{$i}){margin-bottom: 3%;} } } }            
        }
    }
}


.aboutUs{
    @media(max-width: 575px){ padding:{ right: 25px;  left: 25px; }; }
    h2{ margin-bottom: 40px; margin-top: 65px;
        &::before{ margin: 0 15px 10px 0; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
        &::after{ margin: 0 0 10px 15px; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
    }
    p{font-family: "Open Sans", sans-serif;  color: #464646;}
    li{ font-family: "Open Sans", sans-serif;  color: #464646; position: relative; 
        padding-left: 28px;
        &:nth-of-type(2){margin-top: 10px; margin-bottom: 10px;}
        i{position: absolute;  left: 0;  top: 2px;  font-size: 20px;  color: #3498db;  
          line-height: 1;}
    }
    a{  @include fontLib(Raleway, sans-serif, 14px, 600, 1); letter-spacing: 1px;
        color: #439fdd; background-color: white; border: 2px solid #439fdd; padding: 12px 32px; 
        border-radius: 30px;    transition: all 0.5s ease-in-out; margin-top: 6px;
        text-decoration: none; cursor: pointer;
        &:hover{color: white;  background-color: #439fdd;}
    }    
    @media (max-width: 991.98px){ 
        .row .col-md-12:nth-of-type(2) { padding-top: 24px }
    }
}


.works{
    @media(max-width: 575px){ padding:{ right: 25px;  left: 25px; }; }
    img{max-width: 70%; margin: 55px auto 35px;}
    li{
        span{font-size: 36px; line-height: 30px; display: block; font-weight: 700; color: #222222;
            i{display: block; font-size: 36px; color: #3498db; float: left; margin-right: 10px;} }
        p{font-family: "Raleway", sans-serif; font-size: 14px; color: #484848; padding-left: 45px; 
          margin-top: 20px;}
    }
}


.services{ background-color: white;  margin-top: 100px; padding-bottom:  40px;
    @media(max-width: 575px){ padding:{ right: 15px;  left: 15px; }; }
    h2{ margin-bottom: 25px;
        &::before{ margin: 0 15px 10px 0; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
        &::after{ margin: 0 0 10px 15px; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }        
    }
    p{font-family: "Open Sans", sans-serif; color: #444444; line-height: 1.5;  margin-top: 15px; 
      margin-bottom: 30px;}
    .row{ background-color: white;
        &:first-of-type{
            div{ margin-bottom: 45px;
                .service{ background-color: white; border-radius: 15px;  padding: 30px; 
                          position: relative;   z-index: 1; transition: all 0.3s ease-in-out; margin-bottom: 0; box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);     
                    &::before{ content: '';  background: #e1f0fa;  position: absolute;  top: 0px; 
                               right: 0px; z-index: -1; width: 40px; height: 55px; 
                               border-bottom-left-radius: 100%; transition: all 0.3s ease-in-out;   
                    }
                    &:hover{
                        &::before{width: 100%; height: 100%; background-color: #3498db; 
                                  border-bottom-left-radius: 0; border-radius: 15px;}
                        i{color: #3498db; background-color: white;}
                        h5{color: white;}       p{color: white;}
                    }
                    i{font-size: 36px; line-height: 1; color: #fff; padding: 12px; 
                      background-color: #3498db; border-radius: 50%;}
                    h5{margin-top: 20px; font-weight: 700; margin-bottom: 15px; font-size: 18px; 
                        font-family: "Raleway", sans-serif;}
                    p{@include fontLib(Open Sans, sans-serif, 15px, 400, 28px); color: #464646;}
                    @media (max-width: 767.98px){padding-bottom: 10px;}
                }
            }
        }
        &:nth-of-type(2){ margin-top: 50px;
            .col-md-6{
                &:nth-of-type(3){margin-top: 24px;}
                &:last-of-type{margin-top: 24px;} 
                .sc1{@include imgPropy('more-services-1'); height: 361px; 
                     padding:160px 20px 20px 20px; border-radius: 5px;}
                .sc2{@include imgPropy('more-services-2'); height: 361px; 
                     padding:160px 20px 20px 20px; border-radius: 5px;}
                .sc3{@include imgPropy('more-services-3'); height: 361px; 
                     padding:160px 20px 20px 20px; border-radius: 5px;}
                .sc4{@include imgPropy('more-services-4'); height: 361px; 
                     padding:160px 20px 20px 20px; border-radius: 5px;}
                .serviceCard{
                    width: 95%; background: rgba(255,255,255,0.9);     margin: 0 auto;
                    height: 361px - (160 + 20);       padding: 15px 30px;
                    border-radius: 5px;   transition: all 0.3s ease-in-out;
                    &:hover{background-color: #3498db; & *{color: white;}}
                    h5{font-weight: 700; margin-bottom: 15px; font-family: "Raleway", sans-serif; 
                       line-height: 1.2; color: #444444;}
                    p{color: #5e5e5e;   font-family: "Open Sans", sans-serif;  margin-bottom: 15px;}
                    a{color: #777777;   font-weight: 600; font-size: 12px; display: block; 
                      cursor: pointer;
                        i{font-weight: 400;} }
                }        
            }        
        }        
    }            
}

    
.FEATURES{margin-bottom: 40px; margin-top: 60px;
    @media(max-width: 575px){ padding:{ right: 25px;  left: 25px; }; }
    h2{ margin-bottom: 25px;
        &::before{ margin: 0 15px 10px 0; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
        &::after{ margin: 0 0 10px 15px; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
        
    }
    p{font-family: "Open Sans", sans-serif;
    color: #444444; line-height: 1.5;    margin-top: 15px; margin-bottom: 30px;
    }
    .row{
        .col-md-3{margin-bottom: 20px;}
        .icon-box{ width: 100%;  height: 100%;  padding: 20px; background-color: #f6f6f6; 
            transition: ease-in-out 0.3s;
            display: flex;  align-items: center;
            &:hover{background-color: #eef7fe;}
            
            i{font-size: 32px; margin-right: 10px; line-height: 1; display: block;
                
            }
            a{font-weight: 700; margin: 0; padding: 0; line-height: 1; font-size: 16px;
                color: #222222; transition: ease-in-out 0.3s; text-decoration: none; cursor: pointer;
                &:hover{color: #3498db;}
            }
            }
        }
    }            
    

.testimonials{ background-color: #f7fbfe; margin-bottom: 40px; margin-top: 30px;  padding-top: 45px;
    h2{margin-bottom: 25px;
        &::before{ margin: 0 15px 10px 0; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
        &::after{ margin: 0 0 10px 15px; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
    }
    p{font-family: "Open Sans", sans-serif;
    color: #444444; line-height: 1.5;    margin-top: 15px; margin-bottom: 30px;
    }
    .care{ background-color: #f7fbfe; padding: 25px 0px;
        .carousel{
            .carousel-inner{ display: block; margin-bottom: 35px;
                .carousel-item{padding: 25px 0px;  
                    .PrDiv{
                        width: 100%; display: flex;  flex-wrap: wrap; padding-right: 15px;
                        padding-left: 15px; margin-right: auto; margin-left: auto; 
                        .col-md-6{
                            .testimonial{width: 385px;  position: relative;  background-color: white;      
                                         padding: 25px 30px 18px 58px;

                                img{position: absolute; width: 88px;  height: 88px; 
                                    top: 25px;  left: -50px; border: 4px solid white;
                                }
                                h5{font-family: "Raleway", sans-serif;   font-size: 18px;  font-weight: bold;
                                   margin: 10px 0 5px 0; color: #111;}
                                span{font-family: "Raleway", sans-serif; font-size: 14px; color: #999; 
                                     margin: 0;}
                                p{font-style: italic; margin: 15px auto 15px auto; color: #212529;
                                  font-family: "Open Sans", sans-serif; 
                                    i{color: #e1f0fa; font-size: 26px;}
                                }
                            }
                            &:nth-of-type(2){
                                .testimonial{margin-right: 45px; margin-left: 45px;}
                            }}}}}
            .carousel-indicators{ position: static; margin-top: 35px;
                li{ display: inline-block; background-color: #dddddd;
                    width: 12.5px;  height: 12.5px; border-radius: 50%;   opacity: 1; }
                .active{ background-color: #3498db; }
            }
        }
    }     
}            
 

.Portfolio{
    @media(max-width: 575px){ padding:{ right: 30px;  left: 30px; }; }
    .container{
        h2{ margin-bottom: 25px;
        &::before{ margin: 0 15px 10px 0; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
        &::after{ margin: 0 0 10px 15px; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }        
        }
        p{font-family: "Open Sans", sans-serif;
        color: #444444; line-height: 1.5;    margin-top: 15px; margin-bottom: 30px;
        }
        .controllRow{
            ul{
                width: 100%;  height: 100%;
                li{
                    color: #222222;  background-color: white; 
                    width: auto; 
                    height: 35px;
                    cursor: pointer; display: inline-block; padding: 8px 15px 10px 15px; 
                    font-size: 14px; font-weight: 600; line-height: 1; margin-bottom: 5px;
                    transition: all 0.3s ease-in-out; border-radius: 3px;
                    &:hover{ color: white;  background-color: #3498db; }
                }                
            }
            
        }
        .Portfolio__content{  justify-content: center;
            &>div{ position: relative; margin-bottom: 30px;
                .portOverlay{
                    position: absolute;  top: 0;  left: 15px;  /*width: 90.5%;*/ width: calc(100% - 30px);  height: 100%;
                    opacity: 0; transition: all ease-in-out 0.3s;  z-index: 2;  
                    padding-top: 33%;   padding-left: 5%;
                    p{color: white; font-family: "Raleway", sans-serif; font-weight: 600; 
                      font-size: 20px;  margin: 0;  
                        span{color: rgba(255, 255, 255, 0.7); font-size: 14px;   padding: 0;    
                             margin: 10px 0px; font-style: italic;                            
                        }
                    }
                    a{color: #fff; margin: 0 5px 0 0; font-size: 28px; transition: 0.3s;
                        &:hover{color: #3498db;}
                    }
                }
                &::before{content: ""; background: rgba(34, 34, 34, 0.6);
                    position: absolute; left: 15px; top: 0; /*width: 90.5%;*/ width: calc(100% - 30px); height: 100%;
                    transition: all ease-in-out 0.3s; z-index: 2; opacity: 0;
                }
                img{width: 100%; height: auto;}
                &:hover{
                    &::before{ opacity: 1; }  
                    .portOverlay{ opacity: 1; }                    
                }
                
            }
        }
    }
}
    

.Team{ background-color: #f7fbfe; padding: 60px 0;
    .container{
        h2{ margin-bottom: 25px;
        &::before{ margin: 0 15px 10px 0; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
        &::after{ margin: 0 0 10px 15px; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }        
        }
        p{font-family: "Open Sans", sans-serif;
        color: #444444; line-height: 1.5;    margin-top: 15px; margin-bottom: 30px;
        }
        .row{
            .col-md-3{
                .member{ width: 100%; 
                    .avatar{
                        width: 100%; height: auto; 
                        position: relative; overflow: hidden;
                        img{ width: 100%;  height: auto; }
                        .socialOv{ position: absolute; bottom: 0px; left: 0px; width: 100%;
                            height: 40px;  transition: ease-in-out 0.3s;
                            background: rgba(255, 255, 255, 0.85); display: none;
                            a{ transition: color 0.3s; color: #222222; margin: 0 10px;
                               padding-top: 8px; display: inline-block; 
                                &:hover{    color: #3498db;    }
                            }
                        }       
                    }
                    h4{ font-family: "Raleway", sans-serif; font-weight: 700;    
                        font-size: 18px; margin-bottom: 0px; color: #222222; 
                        background-color: white; padding-top: 15px; padding-bottom: 5px; }
                    span{ display: block; font-size: 13px; font-weight: 400; color: #aaaaaa; 
                        background-color: white; padding-bottom: 15px; padding-top: 5px; }
                }
            }
        }
    }
}


.Pricing{ padding: 60px 0;
    .container{
        h2{ margin-bottom: 25px;
        &::before{ margin: 0 15px 10px 0; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
        &::after{ margin: 0 0 10px 15px; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }        
        }
        p{ font-family: "Open Sans", sans-serif; color: #444444; line-height: 1.5;    
           margin-top: 15px; margin-bottom: 30px; }
        .row{
            .col-md-4{
                .pcTbl{ padding: 20px; background: #f9f9f9; border-radius: 8px; position: relative;
                        overflow: hidden; border: 2px solid #f9f9f9;
                        h3{ padding: 15px; margin-top: 15px; font-size: 18px; font-weight: 600;
                            color: #222222;}
                        h4{ font-size: 42px; color: #3498db; font-weight: 500;
                            font-family: "Open Sans", sans-serif; margin-bottom: 20px;
                            sup{ font-size: 20px; top: -15px; left: -3px; }
                            span{ color: #bababa; font-size: 16px; font-weight: 300; }                        
                        }
                        ul{ padding: 0; color: #222222; line-height: 20px; font-size: 14px;
                            li{ padding-bottom: 16px; }
                            .lnTh{ color: #ccc;  text-decoration: line-through; }
                        }
                        a{ display: inline-block; padding: 10px 40px 12px 40px; 
                           border-radius: 50px; border: 2px solid #3498db; color: #3498db; 
                           font-size: 14px; font-family: "Raleway", sans-serif; 
                           font-weight: 600; transition: 0.3s; text-decoration: none;
                           &:hover{ background: #3498db; color: #fff; }
                        }
                        .togClr{ background: #3498db; color: #fff;
                            &:hover{ background: #f9f9f9; color: #3498db; }
                        }
                }                
                .pcTblTgc{border: 2px solid #3498db;}
            }
        }
    }
}


.Faq{ padding: 60px 0;
    .container{
        h2{ margin-bottom: 25px; padding-bottom: 30px;
        &::before{ margin: 0 15px 10px 0; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
        &::after{ margin: 0 0 10px 15px; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }        
        }
        .row{ margin: 20px 0; padding: 20px 0; border-bottom: 1px solid #eeeeee;
            .col-md-5{
                i{ color: #8bc4ea; font-size: 24px; display: inline-block; float: left; 
                   line-height: 0; padding: 13px 0 0 0; margin: 0;}
                p{ font-size: 16px; line-height: 26px; font-weight: 500; margin: 0 0 10px 32px;
                   font-family: "Poppins", sans-serif; }
            }
            .col-md-7{
                p{ font-size: 15px; color: #444444; }
            }
        }
    }
}


.Contact{ margin-top: 35px; margin-bottom: 70px;
    .container{
        h2{ margin-bottom: 25px; padding-bottom: 30px;
        &::before{ margin: 0 15px 10px 0; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }
        &::after{ margin: 0 0 10px 15px; content: '';  width: 50px; height: 2px; 
                   background: #3498db; display: inline-block;  }        
        }
        .row{
            .col-md-4{
                h3{ font-size: 28px; margin: 0 0 10px 0; padding: 0; line-height: 1;
                    font-weight: 700; letter-spacing: 1px; color: #222222;
                    font-family: "Raleway", sans-serif; }
                p{ font-size: 14px; line-height: 24px; font-family: "Raleway", sans-serif;
                    color: #888; }
                .socialFaq{ 
                    a{ font-size: 18px; display: inline-block; background-color: #fff; 
                       color: #3498db; line-height: 1; padding: 8px 0; margin-right: 4px; 
                       border-radius: 50%; text-align: center; width: 36px; height: 36px; transition: 0.3s; border: 1px solid #3498db; text-decoration: none;           
                       &:hover{ background-color: #3498db; color: #fff; }
                    }
                }
                .contOn{
                    i{ font-size: 32px; color: #3498db; float: left; line-height: 1; }
                    p{ padding: 0 0 10px 42px; line-height: 28px; font-size: 14px; color: #444444; }
                }
                form{
                    input{ margin-bottom: 10px; border-radius: 0; box-shadow: none; 
                           font-size: 14px; }
                    textarea{ margin-bottom: 10px; border-radius: 0; box-shadow: none; 
                              font-size: 14px; height: auto; }
                    button{ display: block; border: none; color: #f9f9f9; margin: auto;
                            padding: 12px 30px 12px 30px; border-radius: 50px; 
                            background-color: #3498db; font-size: 14px; 
                            font-family: "Raleway", sans-serif; font-weight: 600; 
                            transition: 0.3s; text-decoration: none; 
                            &:hover{ background-color: #2383c4; }
                    }
                }
            }
        }
    }        
}                                


.footer{ background: #fff; padding: 30px 0; color: #222222; font-size: 14px;
         box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    .container{
        .row{
            .col-md-7{ *{margin: 0;}
                p:nth-of-type(2){ padding-top: 5px; color: #222222; }                
                a{ color: #3498db; text-decoration: none; cursor: pointer; 
                   &:hover{ color: #5faee3; } }
            }
            .col-md-5{
                div{ width: 310px; height: 100%; display: flex; align-items: center;
                     margin-right: 0; margin-left: 16.5%;
                    a{ color: #222222; padding-left: 15px; text-decoration: none;
                       &:hover{color: #3498db;} }                    
                }
            }
        }
    }
}






